@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  background-color: #000;
}

.blog-post-container {
  background: #fff;
  color: #000;
}

textarea,
select,
input,
button {
  outline: none;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #000;
  padding: 0px;
  margin: 0px;
  color: #000;
  border-top: 8px solid #000;
}

.container {
  max-width: 1240px;
  min-height: 80vh;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0px;
  align-items: center;
  padding: 2vh 20px 8vh 20px;
}

ul,
ol {
  margin-bottom: 32px;
}

li {
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 10vh 20px 10vh 20px;
  }
}

@media only screen and (min-height: 960px) {
  .container {
    min-height: 800px;
    padding: 80px 20px;
  }
}

::selection {
  background: #ffaa00;
  color: #000;
}

.borderKeyline {
  grid-column: 1 / -1;
  height: 1px;
  border-bottom: 1px solid #d8d8dc;
  margin: 32px 0;
}

@media only screen and (min-width: 768px) {
  .borderKeyline {
    grid-column: 3 / 11;
  }
}

/* Typography: */

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 42px;
  line-height: 1;
  margin: 0 0 16px 0;
  padding: 40px 0 0 0;
  font-weight: 700;
  letter-spacing: -2px;
  hyphens: none;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  letter-spacing: -0.64px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 32px 0 0 0;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 32px 0 -8px 0;
  padding: 0;
}

p.intro {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 8px 0;
  letter-spacing: -0.8px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

p a {
  text-decoration: underline;
  color: #000;
}

p.caption {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.4px;
}

p.caps {
  font-family: "Inter";
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.6px;
  color: #9696a3;
  text-transform: uppercase;
  padding: 16px 0 4px 0;
  margin: 0;
}

li p {
  margin: 0;
}

li {
  font-size: 15px;
  line-height: 1.5;
}

.textLink {
  text-transform: uppercase;
  display: block;
  margin: 24px 0;
  text-decoration: none;
  color: #9696a3;
  letter-spacing: 0.8px;
}

.textLink::after {
  content: "";
  display: inline-block;
  background: url(../images/icons/arrowForwardIcon.svg) no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  margin: 0 0 0 8px;
}

section.journal {
  background: #fff;
}

section.journal .container {
  background-image: url(../images/home/journalMobileLight.jpg);
  background-size: 100vw;
  background-position: center top;
  background-repeat: no-repeat;
  align-content: flex-end;
  padding: 20vh 20px 0vh 20px;
}

.journalText {
  grid-column: 1/ -1;
  align-self: end;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 12%,
    rgba(255, 255, 255, 1) 100%
  );
  padding-bottom: 80px;
  padding-top: 40px;
}

.journalText ul {
  list-style: none;
  padding-left: 0;
}

.journalText h1 {
  margin-bottom: 0;
  padding: 0;
}

.journalText h2 {
  margin: 80px 0 20px 0;
}

@media only screen and (min-width: 768px) {
  .container {
    grid-gap: 20px;
  }

  .journalText h4 {
    display: none;
  }

  h1 {
    font-size: 48px;
    margin: 0 0 32px 0;
    padding: 0;
  }

  h2 {
    font-size: 32px;
    letter-spacing: -1.2px;
  }

  h3 {
    font-size: 24px;
    letter-spacing: -0.8px;
  }

  p {
    font-size: 20px;
    letter-spacing: -0.32px;
  }

  p.intro {
    font-size: 24px;
    margin: 0 0 24px 0;
  }

  p.caps {
    padding: 20px 0 8px 0;
  }

  p.caption {
    font-size: 16px;
    line-height: 1.5;
  }

  li {
    font-size: 20px;
  }

  .journalText {
    grid-column: 1 / 9;
    align-self: center;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 0%
    );
  }
  section.journal .container {
    background-image: url(../images/home/journalDesktopLight.jpg);
    background-size: 1080px 822px;
    background-position: 0px bottom;
    align-content: center;
  }
}

@media only screen and (min-width: 1048px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 40px;
  }

  section.journal .container {
    background-position: right bottom;
  }
}

@media only screen and (min-width: 1120px) {
  section.journal .container {
    background-image: url(../images/home/journalDesktopLargeLight.jpg);
    background-size: 1200px 822px;
    background-position: center center;
    padding: 10vh 0px;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1441px) {
  h1 {
    font-size: 64px;
  }
  .journalText {
    grid-column: 1 / 9;
    align-self: center;
    padding-bottom: 0px;
  }
}

/* Button: */
.button {
  font-family: "Inter";
  padding: 16px 32px 16px 32px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 700;
  background-color: none;
  border: none;
  text-transform: uppercase;
  margin: 0px 16px 0 0;
  cursor: pointer;
  transition: 0.24s all ease-out;
  display: inline-block;
}

.button.invert {
  padding: 16px 32px 16px 32px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}

.button span.linkIcon {
  background: url(../images/icons/arrowForwardIcon.svg) no-repeat;
  float: left;
  width: 16px;
  height: 16px;
  margin: 4px 0 0 -32px;
  transition: 0.24s all ease-out;
}

.button span.backIcon {
  background: url(../images/icons/arrowBackwardIcon.svg) no-repeat;
  float: left;
  width: 16px;
  height: 16px;
  margin: 4px 0 0 -32px;
  transition: 0.24s all ease-out;
}

.button.invert span.linkIcon {
  background: url(../images/icons/arrowForwardIcon_white.svg) no-repeat;
  float: left;
  width: 16px;
  height: 16px;
  margin: 4px 0 0 -32px;
  transition: 0.24s all ease-out;
}
.button span.downloadIcon {
  background: url(../images/icons/arrowDownIcon.svg) no-repeat;
  float: left;
  width: 16px;
  height: 16px;
  margin: 4px 0 0 -32px;
  transition: 0.24s all ease-out;
}

.button span.twitterIcon {
  background: url(../images/icons/twitterLogoIcon_black.svg) no-repeat;
  float: left;
  width: 20px;
  height: 16px;
  margin: 2px 0 0 -32px;
  transition: 0.24s all ease-out;
}

.button:hover {
  background-color: #000;
  color: #fff;
  padding: 16px 16px 16px 48px;
}
.button.invert:hover {
  background-color: #fff;
  color: #000;
  padding: 16px 16px 16px 48px;
}

.button:hover span.linkIcon {
  background: url(../images/icons/arrowForwardIcon_white.svg) no-repeat;
  margin: 4px 0 0 -32px;
}
.button:hover span.backIcon {
  background: url(../images/icons/arrowBackwardIcon_white.svg) no-repeat;
  margin: 4px 0 0 -32px;
}
.button.invert:hover span.linkIcon {
  background: url(../images/icons/arrowForwardIcon.svg) no-repeat;
  margin: 4px 0 0 -32px;
}
.button:hover span.downloadIcon {
  background: url(../images/icons/arrowDownIcon_white.svg) no-repeat;
  margin: 4px 0 0 -32px;
  transform: rotate(-90deg);
}
.button:hover span.twitterIcon {
  background: url(../images/icons/twitterLogoIcon_white.svg) no-repeat;
  margin: 2px 0 0 -32px;
}

.button:active {
  background-color: #eee;
  color: #000;
}
.button.invert:active {
  background-color: #eee;
  color: #000;
}
.button:active span.linkIcon {
  background: url(../images/icons/arrowForwardIcon.svg) no-repeat;
}
.button:active span.backIcon {
  background: url(../images/icons/arrowBackwardIcon.svg) no-repeat;
}
.button:active span.downloadIcon {
  background: url(../images/icons/arrowDownIcon.svg) no-repeat;
}
.button:active span.twitterIcon {
  background: url(../images/icons/twitterLogoIcon_black.svg) no-repeat;
}

a.button.bottom {
  display: inline-block;
}

a.button.top {
  display: none;
}

a.button.notes {
  margin-top: 32px;
}

@media only screen and (min-width: 768px) {
  .button {
    padding: 16px 32px 16px 32px;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 32px 0 0;
  }

  .button.invert {
    padding: 16px 32px 16px 32px;
    font-size: 16px;
    margin: 0;
  }
}

@media only screen and (min-width: 1120px) {
  a.button.bottom {
    display: none;
  }
  a.button.top {
    display: inline-block;
    margin-top: 8px;
  }
}
