.caseStudy {
  color: #000;
}

.caseStudy section p {
  font-size: 20px;
  line-height: 32px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  grid-gap: 20px;
}

.caseStudyHeader {
  grid-column: 1 / -1;
  height: 48px;
  max-width: 1240px;
  margin: 112px auto 0 auto;
}

.backLink {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2.4px;
  font-weight: 700;
}
.backLink:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background: url(../images/icons/arrowBackwardIcon.svg) no-repeat;
  float: left;
  margin: 5px 12px 0 0;
}

.caseStudy article {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  max-width: 1240px;
  margin: 0 auto;
}
.caseStudy section {
  grid-column: 3 / 11;
}

section.mobileDesign {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #d8d8dc;
  border-bottom: 1px solid #d8d8dc;
  padding: 40px 0;
  margin: 32px 0;
}

.workText {
  flex-basis: 48%;
  padding-right: 2%;
  align-self: center;
}

.workImage {
  flex-basis: 50%;
}

.workImage img {
  width: 100%;
  height: auto;
}

.caseStudy_LargeImage {
  width: 100%;
  grid-column: 1 / -1;
  margin-bottom: 32px;
}
.caseStudy_MediumImage {
  width: 100%;
  grid-column: 3 / 11;
  margin-bottom: 32px;
}
