.authorFooter {
  grid-column: 1 / -1;
  max-width: 1240px;
  margin: 16px auto 56px auto;
  padding: 20px 0 28px 0;
  border-top: 1px solid #d8d8dc;
  border-bottom: 0px solid #d8d8dc;
}

.avatar {
  width: 80px;
  margin: 8px 32px 80px 0;
  float: left;
}

.avatar img {
  width: 100%;
}

.bio {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .authorFooter {
    grid-column: 3 / 11;
    margin: 32px auto 160px auto;
    border-bottom: 1px solid #d8d8dc;
  }
}
