/* FOOTER: */

.footer {
  background-color: #000;
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

.footer p.caption {
  margin: 0;
}

.footerInner {
  row-gap: 24px;
  align-items: center;
}

.footerColophon {
  grid-column: 1 / -1;
  align-self: center;
}

.footerCopyright {
  grid-column: 1 / -1;
  align-self: center;
  display: flex;
  justify-content: flex-start;
}

.footerCopyrightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.footerLocation {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}

.footerLocation span {
  white-space: nowrap;
}

.footerLegal {
  display: inline-flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 20px;
  }

  .footerInner {
    column-gap: 32px;
  }

  .footerColophon {
    grid-column: 1 / 7;
  }

  .footerCopyright {
    grid-column: 10 / 13;
    justify-content: flex-end;
    text-align: right;
  }

  .footerCopyrightContent {
    align-items: flex-end;
  }

  .footerLocation {
    justify-content: flex-end;
  }
}
