/* FOOTER: */

.container {
  max-width: 1240px;
  height: 100vh;
  max-height: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  align-content: center;
  padding: 0 20px;
}

footer {
  background-color: #000;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer .container {
  align-content: flex-start;
}

.footerTwitter {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: 0px solid #fff;
  margin: 48px 0 32px 0;
}

.footerTwitter p {
  padding-right: 0px;
  margin-top: 8px;
}

.tweet {
  margin: 8 0 0 0;
}

.footerInstagram {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 24px 0 32px 0;
}

img.instagramLogo {
  align-self: flex-start;
}

.footerInstagram ul {
  flex: 1;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 0 24px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.footerInstagram li {
  justify-content: center;
  align-items: center;
  margin: 0 0 2.4% 3.6%;
  flex-basis: 29%;
}
.footerInstagram li:last-child {
  display: none;
}

.footerInstagram li img {
  width: 100%;
}

img.twitterLogo {
  display: none;
  margin-top: 8px;
}

.footerColophon {
  grid-column: 1 / -1;
}

.footerCopyright {
  grid-column: 1 / -1;
}

.footerKeyline {
  grid-column: 1/-1;
  height: 1px;
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 20px;
  }
  .footerTwitter {
    grid-column: 1 / 7;
    border-bottom: 1px solid #fff;
    margin: 80px 0 32px 0;
  }
  .footerInstagram {
    grid-column: 7 / 13;
  }
  .footerInstagram {
    margin: 80px 0 32px 0;
  }

  .footerColophon {
    grid-column: 1 / 9;
  }
  .footerCopyright {
    grid-column: 10 / 13;
  }
  .footerInstagram li {
    flex-basis: 16%;
  }
  .footerTwitter {
    border: none;
  }
  img.twitterLogo {
    display: inline-block;
    margin-top: 8px;
  }
  .footerTwitter p {
    padding: 0 48px 0 0;
  }
  .footerInstagram li:last-child {
    display: block;
  }
  .footerCopyright span::before {
    content: "\A";
    white-space: pre;
  }
}
