.container {
  max-width: 1240px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  align-items: center;
  padding: 0 20px;
}

header {
  background-color: #fff;
}

.headerIntro {
  grid-column: 1 / -1;
  align-self: end;
}

.headerBody {
  grid-column: 1 / -1;
  align-self: start;
}

.block {
  display: none;
}

@media only screen and (min-width: 1120px) {
  .headerIntro {
    grid-column: 1 / 8;
    align-self: center;
  }
  .headerBody {
    grid-column: 8 / 13;
    align-self: center;
  }
  .block {
    width: 80px;
    height: 10px;
    background-color: black;
    margin: 40px 0 68px 0;
    display: none;
  }
  h1 span::before {
    content: "\A";
    white-space: pre;
  }
}
