.header {
  background-color: #fff;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  align-items: center;
  padding: 0 20px;
}

.headerLorem {
  grid-column: 1 / -1;
  padding: 0 0 20px 0;
}

.block {
  display: none;
}

.headerLorem h1 {
  font-size: 56px;
  letter-spacing: -2.4px;
}

p.intro {
  font-size: 18px;
  letter-spacing: -0.4px;
}

@media only screen and (min-width: 640px) {
  .headerLorem h1 {
    font-size: 64px;
    letter-spacing: -2.4px;
  }
  p.intro {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.4px;
  }
  .headerLorem {
    padding: 0 0 80px 0;
  }
}

@media only screen and (min-width: 1120px) {
  .headerLorem {
    grid-column: 1 / 11;
    align-self: center;
  }

  .header h1 {
    margin: 0 0 32px 0;
  }

  p.intro {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.4px;
  }

  .headerLorem h1 {
    font-size: 96px;
    letter-spacing: -2.4px;
  }
}

@media only screen and (min-width: 1441px) {
  .headerLorem h1 {
    font-size: 120px;
    letter-spacing: -6.4px;
  }
}
