/* WORK: */

.work {
  position: relative;
  background-color: #000;
  padding-bottom: 80px;
}

.container {
  max-width: 1240px;
  height: 100vh;
  max-height: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  align-content: center;
  padding: 0 20px;
}

.work .container {
  background-image: url(../images/workMobile.png);
  background-size: 100vw;
  background-position: center top;
  background-repeat: no-repeat;
  color: #fff;
  align-content: flex-end;
}

.workText {
  grid-column: 1/ -1;
  align-self: end;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12%,
    rgba(0, 0, 0, 1) 100%
  );
}

.workTabs ul {
  margin: 0 0 24px 0;
  padding: 0;
  list-style: none;
}

.workTabs li {
  display: inline-flex;
  width: 48px;
  height: 48px;
  margin: 0 16px 0 0;
  border-radius: 48px;
  border: 2px solid #000;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}

.workTabs li.selected {
  border: 2px solid #fff;
}

.workTabs li a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .work {
    padding: 0 20px 0 0;
  }
  .workText {
    grid-column: 7 / 12;
    align-self: center;
  }
  .work .container {
    background-image: url(../images/workDesktop.png);
    background-size: 1080px 802px;
    background-position: -100px bottom;
    align-content: center;
  }
}
@media only screen and (min-width: 1048px) {
  .work .container {
    background-position: left bottom;
  }
}
@media only screen and (min-width: 1199px) {
  .work .container {
    background-image: url(../images/workDesktopLarge.jpg);
    background-size: 1203px 803px;
  }
  .workText {
    grid-column: 8 / 13;
    align-self: center;
  }
}
