/* WORK: */

.work {
  position: relative;
  background-color: #f4f4f4;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.work ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.work li {
  margin: 0;
}

.container {
  max-width: 1240px;
  height: auto;
  min-height: 80vh;
  max-height: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  align-items: center;
  padding: 10vh 20px;
}

.work .container {
  background-image: url(../images/home/workMobileLight.png);
  background-size: 100vw;
  background-position: center top;
  background-repeat: no-repeat;
  color: #000;
  align-content: flex-end;
  padding: 20vh 20px 0vh 20px;
}

p.company {
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  align-items: center;
}
span.appIcon {
  float: left;
  width: 28px;
  height: 28px;
  background-image: url(../images/home/woolworthsIcon.png);
  background-size: 28px 28px;
  background-position: center;
  align-items: center;
  margin-right: 16px;
}

.workText {
  grid-column: 1/ -1;
  align-self: end;
  background: linear-gradient(
    to bottom,
    rgba(244, 244, 244, 0) 0%,
    rgba(244, 244, 244, 1) 12%,
    rgba(244, 244, 244, 1) 100%
  );
  padding-bottom: 80px;
  padding-top: 40px;
}

@media only screen and (min-height: 960px) {
  .container {
    min-height: 800px;
    padding: 80px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .work {
    padding: 0 20px 0 0;
  }
  .workText {
    grid-column: 7 / 13;
    align-self: center;
    background: linear-gradient(
      to bottom,
      rgba(244, 244, 244, 0) 0%,
      rgba(244, 244, 244, 0) 0%,
      rgba(244, 244, 244, 0) 0%
    );
  }
  .work .container {
    background-image: url(../images/home/workDesktopLight.png);
    background-size: 1080px 822px;
    background-position: -100px bottom;
    align-content: center;
  }
}

@media only screen and (min-height: 820px) {
  .work .container {
    background-position: center center;
  }
}

@media only screen and (min-width: 1048px) {
  .work .container {
    background-position: left bottom;
  }
}
@media only screen and (min-width: 1199px) {
  .work .container {
    background-image: url(../images/home/workDesktopLargeLight.png);
    background-size: 1200px 822px;
    background-position: center center;
    padding: 10vh 0px;
  }
  .workText {
    grid-column: 8 / 13;
    align-self: center;
    padding-bottom: 0px;
  }
}
